<style>
    .full-height{
        height:100vh;
    }

</style>

<div class="container full-height d-flex justify-content-center align-items-center">
    <a asp-action="Login" class="btn btn-primary btn-lg" role="button">Login</a>
</div>