@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="about">
    <div class="row vh-100 d-flex align-items-center">
        <div class="col-6 text-center">
            <h1>Hi there!</h1>
            <h2>I am <span class="fw-bold bg-white rounded px-2">Rohit Laishram</span></h2>
        </div>
        <div class="col-6 text-center">
            <img src="images/photo.png" class="img-fluid rounded-circle" alt="Profile Image" />
        </div>
    </div>

    <!-- About Me Section -->
    <div class="py-5">
        <h1 class="text-center fw-bold">About Me</h1>
        <p class="text-center px-lg-5 fw-normal">
            I’m Rohit Laishram, a graduate from Manipur Technical University with a deep passion for technology and
            innovation.
            My love for sports, especially football and basketball, has fostered teamwork, discipline, and perseverance
            in me.
            Alongside sports, I thrive on exploring new ideas and actively seeking innovative solutions. With strong
            skills in C#,
            .NET, and more, I’m eager to contribute to impactful projects and learn continuously. Thank you for visiting
            my portfolio!
        </p>
    </div>

    <!-- Skills Section -->
    <h1 class="text-center fw-bolder text-decoration-underline">Skills</h1>
    <div class="d-flex justify-content-center gap-4 flex-wrap pt-3">
        <div class="text-center">
            <img class="icon" src="images/react.png" alt="React Icon" />
            <p>React</p>
        </div>
        <div class="text-center">
            <img class="icon" src="images/dotnet.png" alt="DotNet Icon" />
            <p>.NET</p>
        </div>
        <div class="text-center">
            <img class="icon" src="images/csharp.png" alt="C# Icon" />
            <p>C#</p>
        </div>
        <div class="text-center">
            <img class="icon" src="images/html.png" alt="HTML Icon" />
            <p>HTML & CSS</p>
        </div>
        <div class="text-center">
            <img class="icon" src="images/js.png" alt="JavaScript Icon" />
            <p>JavaScript</p>
        </div>
        <div class="text-center">
            <img class="icon" src="images/python.png" alt="Python Icon" />
            <p>Python</p>
        </div>
    </div>
</div>
