@{
    ViewData["Title"] = "License Page";
}

<style>
        .landing-header
        {
            background-color: #111827;

        }
        .header{
        display:flex;
        align-items:center;
        justify-content:space-between;
        height:132px;
        padding:0 80px;


        }
    .logo{
        width:36px;
            aspect-ratio:1/1;
            object-fit:contain;
        }
        .text-header{
            color: #9CA3AF;
            font-size:24px;
        }
        .text-span{
           color:white;
        }

        .text-content{

            color: #D1D5DB;
        }
        .border{
            border:1px solid black;
        }
        .header-title{
            display:flex;
            align-items:start;
            gap:18px;
        }
        .content{
            display:flex;
            flex-direction:column;
            justify-content:center;
            padding-left:80px;
        height:312px;}
</style>

<div class="landing-header">
    <div class="header">
        <div class="header-title">
            <img class="logo" src="images/Logo.png" alt="hello" />
            <p class="text-header ">  Getting Started &#8594; <span class="text-span">Welcome</span> </p>

        </div>
        <a href="#" class="text-span ">www.landify.design</a>
    </div>

    <div class="content">
        <h1 class="text-span " style="font-size:60px;">Welcome to Landify</h1>
        <p class="text-content" style="font-size:20px;">We are glad you are here! Here’s some important info about Landify UI kit before you get started.</p>
    </div>
</div>
<section style="width:50%; margin-left:80px; margin-top:96px">
    <h3 style="font-size:30px;color:#111827;">About</h3>
    <p style="font-size:18px;color:#4B5563">Landify is a landing page UI kit for Figma, created to help designers design the landing page quickly without having to spend much time. It is crafted with a vision to support any web project and thereby creating a block system that helps with all the use cases. The kit contains 170+ blocks and 500+ components. It's fully customisable, well-organised layers, text, color and effect styles.</p>
    <div>
        <a href="#" style="color:#7C3AED;">aravind.design&#8599;</a>
        <a href="#" style="color:#7C3AED;">landify design&#8599;</a>
    </div>
</section>
<section style="width:50%; margin-left:80px; margin-top:128px; height:602px;overflow:hidden;">
    <h3 style="font-size:30px;color:#111827;">Share your feedback</h3>
    <p style="font-size:18px;color:#4B5563">We hear you. We have a feedback board where we hear your feedback and suggestions to improve Landify. If you have any suggestions or feedback or ideas to improve the Landify UI Kit, please do share you thoughts.</p>
    <div>
        <a href="#" style="color:#7C3AED;">Give Feedback &#8599;</a>
        <a href="#" style="color:#7C3AED;">Roadmap &#8599;</a>
        <a href="#" style="color:#7C3AED;">Changelog &#8599;</a>
    </div>
    <div style="background-color:#E5E7EB;border-radius:30px;display:flex;justify-content:center;align-items:center;margin-top:70px">
        <img src="images/screenshot.png" style="width:80%;margin-top:00px;" alt="Alternate Text" />
    </div>
</section>
<section style="width:50%; margin-left:80px; margin-top:128px">
    <h3 style="font-size:30px;color:#111827;">Community Showcase</h3>
    <p style="font-size:18px;color:#4B5563">The Landify community is always building amazing websites. Discover the sites made using Landify across the web, find inspiration.</p>
    <div style="display:flex;">
        <p>Want to get feature? </p>
        <a href="#" style="color:#7C3AED;">Submit Your work&#8599;</a>
    </div>
    <div style="background-color:black; gap:30px; display:flex; justify-content:center; align-items:center; margin-top:0; padding: 0;">
        <img src="images/showcase-1.png" style="width:45%; margin:0; padding:0;" alt="Alternate Text" />
        <img src="images/showcase-2.png" style="width:45%; margin:0; padding:0;" alt="Alternate Text" />
    </div>
</section>

<hr />
<footer style="margin-left:80px;margin-top:100px">
    <p>Landing page UI kit for Figma</p>
    <a>www.landify.design</a>
    <p>&copy 2021 Landify</p>
</footer>