@model DoctorList.Models.DoctorModel

@{
    ViewData["Title"] = "Create";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Add Doctor Information</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="form-group mb-3">
                            <label for="DoctorId" class="form-label">Doctor ID</label>
                            <input type="text" class="form-control" id="DoctorId" name="Id"
                                placeholder="Enter Doctor ID" required />
                        </div>

                        <div class="form-group mb-3">
                            <label for="DoctorName" class="form-label">Doctor Name</label>
                            <input type="text" class="form-control" id="Name" name="Email"
                                placeholder="Enter Doctor Name" required />
                        </div>

                        <div class="form-group mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Email"
                                required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="Speciality" class="form-label">Email</label>
                            <input type="text" class="form-control" id="Email" name="Speciality" placeholder="Enter Speciality"
                                   required />
                        </div>

                        <div class="form-group mb-3">
                            <label for="Phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="Phone" name="Phone"
                                placeholder="Enter Phone Number" required />
                        </div>

                        <div class="form-group mb-4">
                            <label for="DoctorImage" class="form-label">Upload Doctor Image</label>
                            <input type="file" class="form-control" id="PostedFiles" name="PostedFiles" multiple
                                required />
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
