@model FirstApp.Models.Customer;

<div class="alert alert-success">
	<h2>This is a strongly View</h2>
	<h4>Customer id : @Model.Id</h4>
	<h4>Customer name : @Model.Name</h4>
	<h4>Customer age : @Model.Age</h4>
</div>